---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Astro/Hero/Hero.astro';
import Categories from '../components/Astro/Categories/Categories.astro';
import Product from '../components/Astro/Product/Product.astro';

import BestSeller from '../components/React/BestSeller';

---

<Layout title="Just For Fun Practice">

   <Hero 
      title="Incredible Products"
      buttonLabel="View Collections">
      <p>SoundMax is a pair of <b><u>premium wireless</u></b> headphones that combine the best of sound quality, wireless convenience and amazing battery life. In a slim and sleek form, SoundMax offers all the features you need for the perfect personal listening experience.</p>
   </Hero>

   <Categories title="Shop by Categories" />

   <BestSeller title="DevFest con React" client:visible />

   <Product></Product>
   
</Layout>