---
import '../css/Categories.css';
import { categories } from "../data/api.json";

interface Props { 
    title: string,
}

const { title } = Astro.props;
---

<div class="categories">
    <div class="container">
        <div class="title">
            <hr> <h2>{title}</h2> <hr>
        </div>
        <div class="categories_wrap">
            { 
                categories.map(category => (
                    <div class="category">
                        <h3>{category.name}</h3>
                        <img src={category.image} alt={category.name}/>
                    </div>                    
                ))
            }
        </div>
    </div>

</div>