---
import { products } from "../data/products.json";

---

<div class="container">
    { 
        products.map(product => (
            <h3>{product.title}</h3>
            
                            
        ))
    }
</div>

