body{
    @apply bg-primary font-Raleway text-light font-normal antialiased break-keep;
}

.header{
    @apply bg-primary py-6;
    .logo{
        @apply flex flex-wrap items-center gap-2 flex-1;
        &_icon{
            @apply w-8 text-light;
        }
        &_label{
            @apply text-light uppercase font-extrabold text-xl;
        }
    }
    &_navigation{
        @apply flex flex-wrap gap-x-3 relative;
        a{
            @apply uppercase transition duration-500 ease-in-out relative;
            &.active{
                @apply text-secondary;
                &:after{
                    background-size: 100% 100%;
                }
            }
            &:after{
                @apply content-[''] block absolute bottom-0 left-0 w-full h-full bg-no-repeat;
                background-image: linear-gradient(180deg,transparent 90%, #95abf4 0);
                background-size: 0 100%;
                transition: background-size 500ms ease;         
            }
            &:hover{
                @apply text-secondary;
                &:after{
                    background-size: 100% 100%;
                }
            }
        }
    }
}