---
import { Icon } from 'astro-icon'

import '../css/base.css';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

---

<header class="header">
    <div class="container flex justify-between">       
        <a class="logo" href="/" >
            <Icon class="logo_icon" name="mdi:shopping-outline" />
            <p class="logo_label">Fake Store</p>
        </a>        
        <nav class="header_navigation">
            <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
            <a class={currentPath === "about" ? "active" : ""} href="/about">About</a>
            <a class={currentPath === "products" ? "active" : ""} href="/products">Products</a>
            <a class={currentPath === "blog" ? "active" : ""} href="/blog">Blog</a>
            <a class={currentPath === "contact" ? "active" : ""} href="/contact">Contact</a>
        </nav>
    </div>
</header>